{% block content %}

<table class="table table-bordered">
	<thead>
		<tr>
			<td>#</td>
			<td>num</td>
			<td>nombre</td>
			<td>turno</td>
			<td>comision</td>
			<td>resolutivos</td>
			<td>enlace</td>
			<td>diputados</td>
		</tr>

	</thead>
	<tbody>
		{% if iniciativas %}
		{% for iniciativa in iniciativas %}
		<tr>
			<td>{{ iniciativa.id }}</td>
			<td>{{ iniciativa.nombre }}</td>
			<td>{{ iniciativa.turno }}</td>
			<td>{{ iniciativa.comision }}</td>
			<td>{{ iniciativa.resolutivos }}</td>
			<td>{{ iniciativa.enlace }}</td>
			<td>{{ iniciativa.diputado }}</td>
			<td>
				<a class="btn btn-primary" href="#">Editar</a>
				<a class="btn btn-danger" href="#">Eliminar</a>
			</td>
		</tr>
		{% endfor %}

		{% else %}
		<h1>No hay registros de iniciativas</h1>
		{% endif %}
	</tbody>
</table>
<ul class="pager">
	<li>
		{% if page_obj.has_previous %}
       	 <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
		{% endif %}
        </li>
	<li>
		{% if page_obj.has_next %}
     	 <a href="?page={{ page_obj.next_page_number }}">Next</a>
    	{% endif %}
    </li>
</ul>
{% endblock%}